        /*==================== GOOGLE FONTS ====================*/
        
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');
        /*==================== VARIABLES CSS ====================*/
        
         :root {
            --header-height: 6rem;
            /*========== Colors ==========*/
            --first-color: #d3ad7e;
            --first-color-second: #13131b;
            --title-color: #f5f5f5;
            --title-color-second: #d3ad7e;
            --text-color: #cccccc;
            --text-color-light: #f4f4f4;
            --body-color: #010104;
            /*========== Font and typography ==========*/
            --body-font: 'Roboto', sans-serif;
            /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
            --biger-font-size: 3.5rem;
            --big-font-size: 3rem;
            --text-font-size: 2rem;
            --h1-font-size: 2.2rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .87rem;
            --smaller-font-size: .813rem;
            /*========== Font weight ==========*/
            --font-thin: 100;
            --font-medium: 500;
            --font-semi-bold: 600;
            --font-bold: 700;
            /*========== border ==========*/
            --static-border: .15rem solid var(--first-color);
            /*========== Margenes Bottom ==========*/
            /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
            --mb-0-25: .25rem;
            --mb-0-5: .5rem;
            --mb-0-75: .75rem;
            --mb-1: 1rem;
            --mb-1-5: 1.5rem;
            --mb-2: 2rem;
            --mb-2-5: 2.5rem;
            --mb-3: 3rem;
            /*========== z index ==========*/
            --z-fixed: 100;
        }
        /* Font size for mediam & small devices */
        
        @media screen and (max-width: 968px) {
             :root {
                /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
                --text-font-size: 2rem;
                --biger-font-size: 2.5rem;
                --big-font-size: 2rem;
                --h1-font-size: 1.8rem;
                --h2-font-size: 1.25rem;
                --h3-font-size: 1.125rem;
                --normal-font-size: .938rem;
                --small-font-size: .813rem;
                --smaller-font-size: .75rem;
            }
        }
        
        @media screen and (max-width: 600px) {
             :root {
                /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
                --text-font-size: 1.5rem;
                --biger-font-size: 2rem;
                --big-font-size: 1.8rem;
                --h1-font-size: 1.5rem;
                --h2-font-size: 1.10rem;
                --h3-font-size: 1.105rem;
                --normal-font-size: .938rem;
                --small-font-size: .813rem;
                --smaller-font-size: .75rem;
            }
        }
        /*==================== BASE ====================*/
        
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            transition: .3s linear;
            -webkit-transition: .3s linear;
            -moz-transition: .3s linear;
            -ms-transition: .3s linear;
            -o-transition: .3s linear;
        }
        
        html {
            scroll-behavior: smooth;
            overflow-x: hidden;
            scroll-padding-top: 9rem;
        }
        
        html::-webkit-scrollbar {
            width: .8rem;
        }
        
        html::-webkit-scrollbar-track {
            background: transparent;
        }
        
        html::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 5rem;
        }
        
        body {
            margin: var(--header-height) 0 0;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            background-color: var(--body-color);
            color: var(--text-color);
        }
        
        h1,
        h2,
        h3,
        h4 {
            color: var(--title-color);
            font-weight: var(--font-semi-bold);
        }
        
        ul {
            list-style-type: none;
        }
        
        li {
            list-style: none;
        }
        
        a {
            text-decoration: none;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        /*==================== REUSABLE CSS CLASSES ====================*/
        
        .section {
            padding: 2rem 0 4rem;
        }
        
        .section__title {
            text-align: center;
            margin: var(--mb-1-5);
            text-transform: uppercase;
            font-size: var(--big-font-size);
        }
        
        .section__title span {
            color: var(--title-color-second);
        }
        
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(19, 19, 27, 50%);
        }
        
        .width__center {
            width: 90%;
            margin: auto;
        }
        
        .d-block {
            display: block;
        }
        
        .d-none {
            display: none;
        }
        
        .d-flex {
            display: flex;
            align-items: center;
        }
        
        .pointer {
            cursor: pointer;
        }
        
        .uil {
            margin: .4rem;
            font-size: var(--h1-font-size);
            color: var(--title-color);
        }
        
        .uil:hover {
            color: var(--first-color);
        }
        
        .heart {
            display: flex;
            position: absolute;
            top: 65%;
            right: 3%;
            z-index: 1;
            margin: .4rem;
            width: 2.1rem;
            fill: #f5f5f5;
        }
        
        @media screen and (max-width:480px) {
            .heart {
                top: 120%;
                right: -26%;
                width: 1.5rem
            }
            .beans .main__desc .heart {
                top: 85%;
                right: -46%;
            }
        }
        
        .heart:hover {
            fill: #EB1D36;
            cursor: pointer;
        }
        
        .favourite {
            width: 1rem;
            fill: #EB1D36;
        }
        /*==================== BUTTONS ====================*/
        
        .btn {
            padding: .5rem .9rem;
            font-size: var(--h3-font-size);
            color: var(--text-color);
            background-color: var(--first-color);
            transition: all .4s;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
        }
        
        .btn:hover {
            cursor: pointer;
            letter-spacing: .2rem;
            color: var(--first-color-second);
            border-radius: .6rem;
            -webkit-border-radius: .6rem;
            -moz-border-radius: .6rem;
            -ms-border-radius: .6rem;
            -o-border-radius: .6rem;
        }
        
        .user__btn .uil {
            font-size: var(--h3-font-size);
            color: var(--first-color-second);
        }
        
        .user__btn {
            font-size: var(--h3-font-size);
            color: var(--text-color);
            background-color: var(--first-color-second);
            padding: .5rem .9rem;
            border: var(--static-border);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        
        .user__btn:hover,
        .user__btn:hover .uil {
            box-shadow: -1px 1px 8px var(--first-color);
            background-color: transparent;
            color: var(--first-color);
        }
        
        .main__btn {
            font-size: var(--normal-font-size);
            padding: var(--mb-1) var(--mb-1-5);
            cursor: pointer;
            text-transform: capitalize;
            color: var(--title-color);
            background-color: var(--first-color);
            border: 1px solid var(--first-color);
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            border-radius: 0 var(--mb-2);
            -webkit-border-radius: 0 var(--mb-2);
            -moz-border-radius: 0 var(--mb-2);
            -ms-border-radius: 0 var(--mb-2);
            -o-border-radius: 0 var(--mb-2);
        }
        
        .main__btn:hover,
        .main__btn:hover .uil {
            color: var(--first-color);
            background-color: transparent;
            filter: drop-shadow(20px 8px 3px var(--first-color-second));
            -webkit-filter: drop-shadow(20px 8px 3px var(--first-color-second));
        }
        
        .main__btn .uil {
            font-size: var(--h3-font-size);
        }
        
        .font-h1 {
            font-size: var(--h1-font-size);
        }
        
        .font-h2 {
            font-size: var(--h2-font-size);
        }
        
        .font-h3 {
            font-size: var(--h3-font-size);
        }
        
        .discount {
            margin-left: var(--mb-0-5);
            text-decoration: line-through;
            font-weight: var(--font-medium);
        }
        /*==================== LAYOUT ====================*/
        
        .container {
            max-width: 768px;
            margin-left: var(--mb-1-5);
            margin-right: var(--mb-1-5);
        }
        
        .d-flex-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        /*==================== NAV ====================*/
        
        .header {
            height: var(--header-height);
            justify-content: space-between;
            border-bottom: var(--static-border);
            width: 100%;
            padding: 1.3rem 7%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: var(--z-fixed);
        }
        
        .logo img {
            height: 5rem;
        }
        
        .nav {
            max-width: 968px;
            height: var(--header-height);
            justify-content: space-between;
        }
        
        .nav a {
            font-size: var(--h3-font-size);
            color: var(--text-color);
            margin: 0 var(--mb-0-5);
        }
        
        .drop {
            position: relative;
            display: flex;
            align-items: center;
        }
        
        .drop .uil {
            font-size: var(--h2-font-size);
            margin: 0;
        }
        
        .products__dropdown {
            position: absolute;
            top: 100%;
            background-color: var(--body-color);
            display: none;
            flex-direction: column;
            row-gap: var(--mb-1-5);
            padding: var(--mb-0-75) var(--mb-0-5);
            text-align: center;
        }
        
        .rotate {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
        
        .show-dropdown {
            display: flex;
        }
        
        .dropdown__link {
            font-size: var(--normal-font-size);
            text-transform: capitalize;
            color: var(--first-color);
            cursor: pointer;
            display: flex;
        }
        
        .search__form {
            position: absolute;
            top: -200px;
            right: 7%;
            background: #fff;
            width: 20rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4rem;
            -webkit-border-radius: 4rem;
            -moz-border-radius: 4rem;
            -ms-border-radius: 4rem;
            -o-border-radius: 4rem;
            box-shadow: 2px 2px 10px white;
        }
        
        .search__box {
            padding-left: var(--mb-0-75);
            height: 100%;
            width: 90%;
            border: none;
            outline: none;
            border-radius: 4rem;
        }
        
        .search__form .uil {
            color: var(--body-color);
        }
        
        .search__form .uil:hover {
            cursor: pointer;
            color: var(--first-color);
        }
        
        .cart__items {
            display: flex;
            flex-direction: column;
            padding: var(--mb-0-75);
            position: absolute;
            right: -550px;
            top: var(--header-height);
            background-color: var(--first-color-second);
            height: 90vh;
            width: 20%;
        }
        
        .cart__icon {
            position: relative;
        }
        
        .badge {
            font-family: 'Pushster', cursive;
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
            color: var(--first-color);
            font-weight: var(--font-semi-bold);
            top: -30px;
            right: 0px;
            z-index: 1;
            font-size: var(--h3-font-size);
            text-align: center;
            text-shadow: 2px 1px 0 #f5f5f5;
        }
        
        .personal img {
            margin: 0 var(--mb-1);
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        
        .personal {
            position: relative;
        }
        
        .personal__profile {
            position: absolute;
            left: -25px;
            background-color: var(--first-color-second);
            display: none;
            width: 8rem;
        }
        
        .profile__user1 li a,
        .profile__user2 li a {
            text-align: center;
            text-transform: uppercase;
            margin: var(--mb-0-75);
            color: var(--first-color);
        }
        
        .profile__user1 li a .uil,
        .profile__user2 li a .uil {
            font-size: 1.6rem;
            color: var(--first-color);
        }
        
        .profile__user1 li a:hover,
        .profile__user2 li a:hover {
            color: var(--text-color);
        }
        
        .user__name {
            margin: var(--mb-0-75);
            display: block;
        }
        
        #menu__btn {
            display: none;
        }
        
        @media screen and (max-width:1110px) {
            .cart__items {
                width: 50%;
            }
        }
        
        @media screen and (max-width: 767px) {
            #menu__btn {
                display: block;
            }
            .nav {
                position: absolute;
                right: -300px;
                top: var(--header-height);
                flex-direction: column;
                justify-content: space-around;
                background-color: var(--first-color-second);
                height: 90vh;
                width: 40%;
            }
            .nav a {
                text-align: left;
                color: var(--first-color);
                margin: var(--mb-1) var(--mb-0-5);
            }
            .cart__items {
                width: 60%;
            }
            .cart__item img {
                max-height: 4.5rem;
            }
        }
        
        @media screen and (max-width:480px) {
            .nav {
                width: 60%;
            }
            .cart__items {
                width: 70%;
            }
            .cart__item img {
                max-height: 4rem;
            }
            .search__form {
                width: 15rem;
            }
        }
        /* show menu */
        
        .show-search {
            top: 110%;
        }
        
        .show-menu {
            right: 0;
        }
        
        .show-cart {
            right: 0;
        }
        
        .active {
            color: var(--first-color);
        }
        /* Change background header */
        
        .scrolling-active {
            background-color: var(--first-color-second);
            box-shadow: 0px 2px 7px var(--text-color-light);
        }
        /*==================== MAIN ====================*/
        /*==================== HOME ====================*/
        
        .home {
            width: 100%;
            height: 100vh;
            background: url(../img/home-img.jpeg) center no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 4rem 4rem 0;
        }
        
        .home__content {
            max-width: 40rem;
        }
        
        .home__titel {
            text-transform: uppercase;
            font-size: var(--biger-font-size);
            font-weight: var(--font-semi-bold);
        }
        
        .home__desc {
            margin: var(--mb-2-5) 0;
            max-width: 25rem;
            font-weight: var(--font-medium);
        }
        
        @media screen and (max-width:480px) {
            .home {
                text-align: center;
                padding: 3rem 1rem 0;
            }
            .home__content {
                max-width: 100%;
            }
        }
        /*==================== SERVICE ====================*/
        
        .service__card {
            width: 32%;
            position: relative;
            margin-bottom: var(--mb-1);
            overflow: hidden;
        }
        
        .service__card:hover img {
            transition: all .6s ease-in-out;
            -webkit-transition: all .6s ease-in-out;
            -moz-transition: all .6s ease-in-out;
            -ms-transition: all .6s ease-in-out;
            -o-transition: all .6s ease-in-out;
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .service__text {
            position: absolute;
            bottom: 30px;
            text-align: center;
            width: 100%;
            color: #FFF;
        }
        
        .service__text p {
            color: var(--first-color);
        }
        
        @media screen and (max-width: 767px) {
            .service__card {
                width: 49%;
            }
        }
        
        @media screen and (max-width:480px) {
            .services__content {
                flex-direction: column;
                justify-content: space-around;
            }
            .service__card {
                width: 100%;
            }
        }
        /*==================== Main CARD ====================*/
        
        .main__card {
            overflow: hidden;
            padding: var(--mb-1) var(--mb-0-75) var(--mb-2-5);
            margin-bottom: var(--mb-1-5);
            width: 22%;
            border: .1rem solid var(--first-color);
            text-align: center;
            position: relative;
        }
        
        .main__icon {
            width: 90%;
            display: flex;
            position: absolute;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
        }
        
        .main__icon i {
            cursor: pointer;
            position: relative;
        }
        
        .main__image {
            display: flex;
        }
        
        .macine__image img {
            width: 80%;
            margin: auto;
        }
        
        .main__image img {
            filter: drop-shadow(0 1mm 5mm rgba(99, 38, 117, 2.79));
            transition: ease-in-out all .8s;
            -webkit-transition: ease-in-out all .8s;
            -moz-transition: ease-in-out all .8s;
            -ms-transition: ease-in-out all .8s;
            -o-transition: ease-in-out all .8s;
        }
        
        .macine__image img {
            width: 100%;
        }
        
        .main__card:hover .main__image img {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
        
        .main__title {
            text-transform: capitalize;
            font-weight: var(--font-semi-bold);
        }
        
        .center-text {
            color: var(--text-color-light);
        }
        
        .main__title p {
            font-family: 'Pushster', cursive;
            text-transform: capitalize;
            font-weight: var(--font-medium);
        }
        
        .main__rate {
            position: absolute;
            right: var(--mb-0-75);
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 5%;
        }
        
        .main__rate .uil {
            margin: .2rem;
            font-size: var(--h2-font-size);
        }
        
        .main__desc {
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            -webkit-backdrop-filter: blur(28px);
            backdrop-filter: blur(28px);
            transition: all .7s;
            -webkit-transition: all .7s;
            -moz-transition: all .7s;
            -ms-transition: all .7s;
            -o-transition: all .7s;
        }
        
        .main__card:hover .main__desc {
            top: 75%;
        }
        
        .white-star {
            color: var(--text-color);
            color: white;
        }
        
        .gold-star {
            color: gold;
        }
        
        @media screen and (max-width: 767px) {
            .menu__contetnt {
                width: 100%;
            }
            .main__card {
                width: 30%;
            }
            .main__rate .uil {
                margin: .1rem;
                font-size: var(--h3-font-size);
            }
        }
        
        @media screen and (max-width:480px) {
            .main__card {
                width: 49%;
                padding-bottom: var(--mb-0-25);
            }
            .width__center {
                width: 95%;
            }
            .main__desc {
                transform-origin: center;
                transform: scale(0);
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
            }
            .main__desc .center-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
            .main__card:hover .main__desc {
                top: 0;
                left: 0;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
        }
        /*==================== GALARY ====================*/
        
        .galary {
            display: flex;
        }
        
        .first-galary {
            height: 100%;
            width: 40%;
        }
        
        .sec-galary {
            display: flex;
            width: 40%;
        }
        
        .trd__galary {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .img__galary6 {
            height: 100%;
            width: 20%;
        }
        
        .sec-galary {
            display: flex;
        }
        
        .col1,
        .col2 {
            display: flex;
            width: 50%;
            flex-direction: column;
            height: 100%;
        }
        
        .img__galary1,
        .img__galary2,
        .img__galary3,
        .img__galary4,
        .img__galary5,
        .img__galary6 {
            height: 100%;
        }
        
        .img__galary1 img,
        .img__galary2 img,
        .img__galary3 img,
        .img__galary4 img,
        .img__galary5 img,
        .img__galary6 img {
            width: 100%;
            height: 100%;
        }
        
        .img__galary .img {
            position: relative;
        }
        
        .img__galary .img .overlay {
            position: absolute;
            background: rgba(0, 0, 0, .4);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .4s ease-in-out;
        }
        
        .img__galary .img:hover .overlay {
            opacity: 1;
        }
        
        @media screen and (max-width:680px) {
            .img__galary {
                flex-direction: column;
            }
            .first-galary {
                height: 50%;
                width: 100%;
            }
            .sec-galary {
                width: 100%;
                flex-direction: initial;
            }
            .col1,
            .col2 {
                width: 50%;
            }
            .img__galary2,
            .img__galary3,
            .img__galary4,
            .img__galary5 {
                height: 50%;
            }
            .img__galary2,
            .img__galary3,
            .img__galary4,
            .img__galary5 {
                display: flex;
            }
            .trd__galary {
                width: 100%;
            }
            .img__galary6 {
                display: none;
            }
        }
        /*==================== CART PRODUCTS ====================*/
        
        .pcart {
            padding-top: var(--header-height);
        }
        
        .allproducts {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            grid-row-gap: 20px;
        }
        
        .qty {
            margin: 0 .4rem;
            font-size: var(--h1-font-size);
        }
        
        .allproducts .main__card .main__image {
            display: block;
        }
        
        .allproducts .main__card .main__image img {
            filter: drop-shadow(0 1mm 5mm rgba(99, 38, 117, 2.79));
            width: 10rem;
            height: 12rem;
        }
        
        .filter {
            margin: var(--mb-2) auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
        }
        
        .filter__links {
            display: flex;
        }
        
        .filter h2 {
            text-transform: capitalize;
            font-family: 'Pushster', cursive;
        }
        
        .empty__card {
            display: none;
            text-align: center;
        }
        
        .empty__card img {
            margin-top: var(--mb-3);
            width: 40%;
        }
        
        @media screen and (max-width:480px) {
            .allproducts .main__card .main__image img {
                width: 8rem;
                height: 10rem;
            }
        }
        /*==================== VIA INSTANT ====================*/
        
        .instant__card:hover .main__desc {
            top: 80%;
        }
        
        @media screen and (max-width:480px) {
            .instant__card:hover .main__desc {
                top: 0%;
            }
            .instant__card .main__desc .heart {
                top: 80%;
                right: 4%;
            }
        }
        /*==================== PRODUCT PAGE ====================*/
        
        .product {
            padding-top: var(--header-height);
        }
        
        .product__img {
            background-color: #1f3933;
        }
        
        .product__img,
        .product__desc {
            height: 20rem;
            padding: var(--mb-1) var(--mb-3);
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }
        
        .product__img img {
            filter: drop-shadow(30px 10px 4px #000);
            max-height: 100%;
            -webkit-filter: drop-shadow(30px 10px 4px #000);
        }
        
        .product__title {
            width: 30%;
            font-size: var(--h1-font-size);
            text-transform: uppercase;
            letter-spacing: .20rem;
        }
        
        .product__info {
            color: var(--title-color);
            width: 40%;
        }
        
        .product__advantages li {
            color: var(--text-color-light);
            text-transform: capitalize;
            list-style-type: disc;
            line-height: var(--mb-2);
        }
        
        @media screen and (max-width:480px) {
            .product__img,
            .product__desc {
                flex-direction: row-reverse;
                align-items: center;
            }
            .product__img img {
                width: 15rem;
            }
            .product__title {
                text-align: center;
                width: 100%;
            }
            .product__info {
                text-align: left;
                margin-bottom: var(--mb-1);
                width: 100%;
            }
            .product__advantages {
                width: 100%;
                text-align: left;
            }
        }
        /*==================== ABOUT US ====================*/
        
        .about__img {
            width: 50%;
        }
        
        .about__img img {
            height: 100%;
        }
        
        .about__desc {
            text-align: left;
            padding: var(--mb-3) var(--mb-1);
            width: 50%;
            background-color: var(--first-color-second);
        }
        
        .about__desc p {
            line-height: 2.2rem;
            margin-bottom: var(--mb-2);
            color: var(--text-color);
            text-transform: none;
            font-size: 1.1rem;
            font-weight: 400;
        }
        
        @media screen and (max-width:776px) {
            .contact-form-info {
                flex-direction: column;
            }
            .about__desc,
            .about__img {
                margin: auto;
                width: 90%;
            }
        }
        
        @media screen and (max-width:480px) {
            .contact-form-info {
                flex-direction: column;
            }
            .about__desc,
            .about__img {
                width: 100%;
            }
        }
        /*==================== CONTACT ====================*/
        
        .thanks {
            display: none;
            padding: var(--mb-1-5) var(--mb-0-75);
            background-color: #13131b;
            border-radius: var(--mb-0-5);
            width: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            z-index: var(--z-fixed);
            -webkit-border-radius: var(--mb-0-5);
            -moz-border-radius: var(--mb-0-5);
            -ms-border-radius: var(--mb-0-5);
            -o-border-radius: var(--mb-0-5);
        }
        
        .close {
            cursor: pointer;
            display: block;
            text-align: right;
        }
        
        .close i {
            font-size: var(--h3-font-size);
        }
        
        .thanks__title {
            text-transform: capitalize;
            margin-bottom: var(--mb-1-5);
        }
        
        .agent-name {
            text-transform: capitalize;
        }
        
        .thanks p {
            margin-bottom: var(--mb-0-75);
        }
        
        .contact {
            margin-top: 3rem;
            height: 80vh;
            background-color: #0b0c10;
        }
        
        .contact-form-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
        
        .contact-form {
            background-color: rgb(22, 22, 29);
            width: 50%;
            padding: 30px;
            border-radius: 5px
        }
        
        .inputs::placeholder {
            padding-left: 10px;
        }
        
        .form-group .inputs {
            outline: none;
            padding-left: var(--mb-0-5);
            border: 1px solid rgb(11, 12, 16);
            color: var(--text-color-light);
            font-size: 16px;
            height: 40px;
            width: 100%;
            margin-bottom: 20px;
            background-color: transparent;
        }
        
        .form-group textarea {
            height: 170px;
        }
        
        .form-btn {
            border-width: 0;
            border-radius: 4px;
            border-color: transparent;
            color: #ffffff;
            background-color: #f21e4e;
            cursor: pointer;
            padding: var(--mb-0-75) var(--mb-1);
            font-size: 18px;
            position: relative;
            z-index: 1;
        }
        
        .form-btn span {
            display: inline-block;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
        }
        
        .form-btn i {
            font-size: var(--h2-font-size);
        }
        
        .form-btn::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #343a40;
            transform: scale(0);
            transform-origin: center;
            transition: all .5s ease;
            border-radius: 4px;
            z-index: -1;
        }
        
        .form-btn:hover::after {
            transform: scale(1);
        }
        
        .contact-info {
            width: 50%;
            padding: var(--mb-2) var(--mb-1);
            line-height: 1.4;
        }
        
        .contact-info-title {
            /* font-size: var(--h3-font-size); */
            text-transform: capitalize;
            color: #fff;
            margin-bottom: 20px;
        }
        
        .contact-info-desc {
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: var(--mb-1-5);
        }
        
        .contact-ci {
            margin-bottom: var(--mb-1-5);
        }
        
        .contact-ci :nth-child(1) {
            color: var(--text-color-light);
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
        }
        
        .contact-ci p:nth-child(2) i {
            color: #f21e4e;
            font-size: var(--h3-font-size);
            margin-right: var(--mb-0-75);
        }
        
        .contact-ci :nth-child(2) {
            margin-top: 5px;
            color: var(--text-color-light);
        }
        
        .show-feedback {
            display: block;
        }
        
        @media screen and (max-width:776px) {
            .contact-form-info {
                margin-top: var(--header-height);
                top: 100%;
                flex-direction: column;
            }
            .contact-info,
            .contact-form {
                width: 100%;
            }
        }
        
        @media screen and (max-width:480px) {
            .contact-form-info {
                margin-top: var(--header-height);
                top: 100%;
                flex-direction: column;
            }
            .contact-info,
            .contact-form {
                width: 100%;
            }
        }
        /*==================== CUSTOMERS REVIEW ====================*/
        
        .customer__card {
            width: 32%;
            border: var(--static-border);
            padding: var(--mb-1-5) var(--mb-0-75);
            text-align: center;
            margin-bottom: var(--mb-1-5);
        }
        
        .quote {
            margin: auto;
        }
        
        .customer__desc {
            font-size: 1.2rem;
            margin: var(--mb-2) var(--mb-1);
            line-height: var(--mb-1-5);
        }
        
        .cutomer__photo {
            margin-bottom: var(--mb-1-5);
            width: 5rem;
            height: 5rem;
            margin: auto;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        
        .customer__name {
            margin-bottom: var(--mb-1);
            color: var(--text-color-light);
        }
        
        .customer__rate {
            display: flex;
            justify-content: center;
        }
        
        .customer__rate i {
            margin: 0 var(--mb-0-25);
            font-size: var(--h2-font-size);
        }
        
        @media screen and (max-width:776px) {
            .customer__card {
                width: 49%;
            }
        }
        
        @media screen and (max-width:480px) {
            .customer__card {
                width: 100%;
            }
        }
        /*========== FAVOURITE PRODUCTS ==========*/
        
        .favourite__continer .filter h2 {
            margin-top: var(--mb-2);
        }
        
        .fav__card {
            width: 23%;
            border: var(--static-border);
            margin-bottom: var(--mb-1-5);
            padding: var(--mb-2) var(--mb-0-75);
        }
        
        .fav__card .main__icon {
            position: initial;
            margin: auto;
            width: 100%;
        }
        
        .fav__card .main__icon :nth-child(2):hover {
            -webkit-animation: slide-right 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite;
            animation: slide-right 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite;
        }
        
        @-webkit-keyframes slide-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(20px);
                transform: translateX(20px);
                -moz-transform: translateX(20px);
                -ms-transform: translateX(20px);
                -o-transform: translateX(20px);
            }
        }
        
        @keyframes slide-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100% {
                -webkit-transform: translateX(20px);
                transform: translateX(20px);
                -moz-transform: translateX(20px);
                -ms-transform: translateX(20px);
                -o-transform: translateX(20px);
            }
        }
        
        .fav__img {
            margin: auto;
            width: 100%;
        }
        
        .fav__desc {
            text-align: center;
        }
        
        .fav__desc h2 {
            /* display: flex;
            justify-content: center; */
            align-items: center;
        }
        /* .fav__card span {
            cursor: pointer;
            font-size: var(--small-font-size);
        } */
        /*==================== FOOTER ====================*/
        
        .footer {
            padding: var(--mb-3) var(--mb-0-5);
            background: url('../img/footer-bg.jpg') center no-repeat;
            background-size: cover;
        }
        
        .footer__info,
        .footer__contact,
        .footer__Subscribe {
            width: 30%;
            flex-direction: column;
            margin-bottom: var(--mb-2);
        }
        
        .footer__info p {
            margin: var(--mb-1-5) 0;
        }
        
        .footer__social__links {
            display: flex;
        }
        
        .social__links {
            margin: 0 var(--mb-0-5);
            width: 1.5rem;
        }
        
        .footer__title {
            display: inline-block;
            font-size: var(--h2-font-size);
            border-bottom: 1px solid var(--first-color);
            margin-bottom: var(--mb-3);
        }
        
        .footer__Subscribe {
            width: 30%;
        }
        
        .Subscribe {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 52px;
            line-height: 52px;
            background: #FFF;
            border-radius: 30px;
            overflow: hidden;
        }
        
        .Subscribe input {
            border: none;
            outline: none;
            padding-left: 10px;
            font-size: 13px;
            color: var(--first-color);
            width: 75%;
        }
        
        .Subscribe a {
            text-decoration: none;
            text-transform: capitalize;
            font-size: 13px;
            color: #FFF;
            background: var(--first-color);
            width: 25%;
            text-align: center
        }
        
        @media screen and (max-width:480px) {
            .footer__info,
            .footer__contact,
            .footer__Subscribe {
                width: 100%;
            }
        }
        /*========== SCROLL UP ==========*/
        /* Show scroll */
        /*========== SCROLL BAR ==========*/
        /*==================== MEDIA QUERIES ====================*/
        /* For small devices */
        /* For medium devices */
        /* For large devices *